@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
.box1{
    height: 100px;
    width: 100px;
    background: purple;
}
.box2{
    height: 100px;
    width: 100px;
    background: darkblue;
}
.box3{
    height: 100px;
    width: 100px;
    background: rgb(123, 139, 0);
}
.box4{
    height: 100px;
    width: 100px;
    background: rgb(139, 0, 130);
}
.box5{
    height: 100px;
    width: 100px;
    background: rgb(139, 76, 0);
}
.border{
    border: 5px solid black;
}

.rectangle{
    height: 150px;
    width: 300px;
    background: linear-gradient(to right, purple, darkblue, rgb(123, 139, 0), rgb(139, 0, 130), rgb(139, 76, 0));
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    color: #fff;
}