<app-interactingpage></app-interactingpage>
<button class="btn btn-primary p-2" (click)="back()">Back</button>
<div class="row">

    <!-- selecting tabs -->
    <div class="col-12">
        <ul class="nav gap-5">
            <li (click)="select('1')" [ngClass]="{'border': selected ==='1'}">Select1</li>
            <li (click)="select('2')" [ngClass]="{'border': selected ==='2'}">Select2</li>
            <li (click)="select('3')" [ngClass]="{'border': selected ==='3'}">Select3</li>
            <li (click)="select('4')" [ngClass]="{'border': selected ==='4'}">Select4</li>
            <li on-click="select('5')" [ngClass]="{'border': selected ==='5'}">Select5</li>
        </ul>
    </div>
    <div *ngIf="selected === '1'" class="col-4 box1"></div>
    <div *ngIf="selected === '2'" class="col-4 box2"></div>
    <div *ngIf="selected === '3'" class="col-4 box3 bg-warning"></div>
    <div *ngIf="selected === '4'" class="col-4 box4 bg-dark"></div>
    <div *ngIf="selected === '5'" class="col-4 box5 bg-secondary"></div>
<hr>
    <!-- Basic selecting screen -->
    <div class="col-12 mt-3">
        <h6>Selected Basic</h6>
        <small>Note: Before screen-1, after screen-5, boxs are not visible</small>
        <div class="d-flex justify-content-center align-items-center">
            <span class="rectangle" *ngIf="screen === 1">1</span>
            <span class="rectangle" *ngIf="screen === 2">2</span>
            <span class="rectangle" *ngIf="screen === 3">3</span>
            <span class="rectangle" *ngIf="screen === 4">4</span>
            <span class="rectangle" *ngIf="screen === 5">5</span>
        </div>
        <div class="d-flex justify-content-between align-items-center mt-2 border p-2 rounded-4">
            <button class="btn btn-primary" (click)="backscr()"><i class="bi bi-caret-left"></i>Previous</button>
            <button class="btn btn-outline-primary" (click)="fdscr()">Next<i class="bi bi-caret-right"></i></button>
        </div>
    </div>
<hr>    
    <div class="col-12 mt-3">
        <h6>Limited select</h6>
        <small>Note: screen start at 1 and stop at 5 with change button from next to submit</small>
        <div class="d-flex flex-column justify-content-center align-items-center mt-3">
            <span class="rectangle" *ngIf="limitedscreen === 1">1</span>
            <span class="rectangle" *ngIf="limitedscreen === 2">2</span>
            <span class="rectangle" *ngIf="limitedscreen === 3">3</span>
            <span class="rectangle" *ngIf="limitedscreen === 4">4</span>
            <span class="rectangle" *ngIf="limitedscreen === 5">5</span>
        </div>
        <div class="d-flex justify-content-between align-items-center mt-2 border p-2 rounded-4">
            <button class="btn btn-primary" on-click="backlim()" [disabled]="limitedscreen === 1"><i class="bi bi-caret-left"></i>Previous</button>
            <button class="btn btn-outline-primary" on-click="fdrlim()" *ngIf ="limitedscreen < 5">Next<i class="bi bi-caret-right"></i></button>
            <button class="btn btn-outline-primary" on-click="limitsubmit()" *ngIf ="limitedscreen === 5"><i class="bi bi-telegram">Submit</i></button>
        </div>
    </div>
    <hr>        
    <div class="col-12 mt-3">
        <h6>Pop-Up and box</h6>
        <div class="d-flex justify-content-center flex-column">
            <button class="btn btn-primary w-25 mx-auto" (click)="popupchanges()">pop-up</button>
            <div class="exactcenter" *ngIf="boxclose"> 
                <div class="card" style="width: 18rem;">
                    <div class="w-100">
                        <div class="btn btn-close float-end" (click)="popupchanges()"></div>
                    </div>
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s
                            content.</p>
                        <a  class="btn btn-primary me-2"  (click)="popupchanges(1)">box-1</a>
                        <a  class="btn btn-outline"  (click)="popupchanges(2)">box-2</a>
                    </div> 
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <div class="rectangle card w-25 p-5 text-center align-middle" *ngIf="popup === 1"><h6>box-1</h6></div>
            <div class="rectangle card w-25 p-5 text-center align-middle"  *ngIf="popup === 2"><h6>box-2</h6></div>
        </div>
    </div>
</div>